@model Jarchim.Models.mHome
@{
    ViewBag.Title = "";
    Jarchim.Models.database.JarchimDb JarchimDb = new Jarchim.Models.database.JarchimDb();
    Jarchim.da.daCategory c = new Jarchim.da.daCategory();
    int i = 0;
}

                @* Leave A Reply*@
                <div class="roberto-contact-form mt-80 mb-100">
                    <input type="hidden" value="@Model.vmAd.ad_id" id="ad_id" class="psd-input" />
                    @*Form*@
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" id="user_name" name="user_name" class="form-control mb-30 psd-input" placeholder="نام">
                            </div>
                            <div class="col-12">
                                <input type="email" id="user_email" name="user_email" class="form-control mb-30 psd-input" placeholder="ایمیل">
                            </div>
                            @*<div class="col-12">
                                    <input type="text" name="website" class="form-control mb-30" placeholder="Websites">
                                </div>*@
                            <div class="col-12">
                                <textarea name="user_text" id="user_text" class="form-control mb-30 psd-input" placeholder="متن دیدگاه"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="button" onclick="SendComment()" class="btn roberto-btn btn-3 mt-15">ارسال </button>
                            </div>
                        </div>
                    </form>
                </div>
            
<!-- Rooms Area End -->
